<!DOCTYPE html>
{% load static %}
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>{% block title %}{% endblock %}</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://unpkg.com/lucide@latest"></script>
    <script>
        tailwind.config = {
            darkMode: 'class',
        }
    </script>

    <style>
        html {
            scroll-behavior: smooth; /* اسکرول نرم */
        }
    </style>
</head>
<body>
<header>
    {% include 'base/header.html' %}
</header>
{% block main %}
{% endblock %}

<footer>
    {% include 'base/footer.html' %}

</footer>
</body>
</html>