@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Vazirmatn', sans-serif;
  scroll-behavior: smooth;
}

@keyframes slideFade {
  0% { opacity: 0; transform: translateY(10px); }
  100% { opacity: 1; transform: translateY(0); }
}

.animate-slide-fade {
  animation: slideFade 0.5s ease-out;
}
